# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Rasa models
models/
*.tar.gz

# Virtual environments
venv/
env/
.venv/

# Logs and debug files
*.log
*.tmp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Python dependency files
Pipfile.lock

# System files
.DS_Store
Thumbs.db
