# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
VENV/
env.bak/
venv.bak/

# Flask
instance/
*.db
*.sqlite3

# VSCode
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Logs
*.log

# Python test & coverage
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Env variables
.env
.env.*

# Node (if any npm packages were added for frontend work)
node_modules/

# Misc
*.bak
*.swp
